In [3]:
def add(a:int , b:int)->int:
  return a+b
add(5.3,3.5)

8.8

In [1]:
# ۲. pydantic (برای اعتبارسنجی داده)
!pip install pydantic -q

from pydantic import BaseModel
from typing import Literal

class User(BaseModel):
    name: str
    age: int
    role: Literal["admin", "user", "guest"]

# درست
u1 = User(name="مهدی", age=30, role="admin")
print(u1)

# اشتباه → خودش خطا می‌ده
# u2 = User(name="علی", age="سی", role="hacker")

name='مهدی' age=30 role='admin'

In [2]:
# ۳. dataclass
from dataclasses import dataclass

@dataclass
class Product:
    name: str
    price: float
    in_stock: bool = True

p = Product("آیفون ۱۶", 85_000_000, False)
print(p)

Product(name='آیفون ۱۶', price=85000000, in_stock=False)